
html{
    height: 100%;
}
body{

    min-height: 100vh;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
}

main{
    padding:20px;
}

h1{
    color:crimson;
    font-size:2rem;
    text-align: center;
}

p{
    font-size:1.2rem;

}

footer{
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
   margin-top:auto;
}
